# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/通讯/通信工具/HJDOWN.ini
/A380_PDA.code-workspace
/.vscode
/arm/Include/.vscode
/Main.L
/sourceInsight-cfg
/EditPlus 3/editplus_u.ini
*.bak
*.tmp
*.L

/通讯/通信工具/DEBUG.TXT
/A380手持机PC通讯工具/通信工具
/A380手持机PC通讯工具/USB驱动
